[alias]
    b = branch
    co = checkout
    diffh = diff HEAD~
    force-push = git push --force-with-lease
    recommit = commit --amend
    s = status
    stash-all = stash save --include-untracked
    t = log --graph --pretty=format:'%C(auto)%h%d %s %C(yellow):: %C(reset)%an %C(yellow):: %C(reset)%ad' --decorate
    uncommit = reset --soft HEAD^

[commit]
    gpgSign = true

[color]
    ui = true

[core]
    pager = diff-so-fancy | less --tabs=4 -RFX

[log]
    date = relative

[merge]
    conflictstyle = diff3
    ff = only

[pull]
    ff = only

[push]
    default = simple

[rebase]
    autostash = true

[stash]
    showPatch = true

[user]
    email = jerrytegno@gmail.com
    name = Jerry Tegno

[color "diff-highlight"]
    oldNormal = red
    oldHighlight = red bold reverse
    newNormal = green
    newHighlight = green bold reverse

[color "diff"]
    meta = white
    frag = magenta bold
    old = red
    new = green
    whitespace = red reverse
