; vim: set filetype=gitconfig:
[init]
    defaultBranch = main

[core]
    excludesfile = ~/.gitignore.global
    pager = "delta"

[alias]
    ; `&& :` is appended to aliases to stop them from using extra arguments
    ; `set -e; FOO=$(...)` is used to terminate when <C-c> is pressed in FZF
    ; `xargs` will trim for you if you don't provide other arguments

    b = branch --format="%(color:dim)%(committerdate:relative)%09%(color:reset)%(refname:short)"
    s = status
    c = !"f() { git commit -m \"${1:-$(shuf -n 1 ~/.word_list.txt)}\"; }; f"
    ac = !"f() { git aa; git commit -m \"${1:-$(shuf -n 1 ~/.word_list.txt)}\"; }; f"
    p = push -u
    fp = push -f

    nuke = clean -id
    restart = !git restore -- . && git clean -fd && :

    ; useful for listing all dotfiles that aren't being managed
    ignored = status --ignored -- .*

    aa = add -A
    ai = !"f() { set -e; FILES=$(git pick files); git add $FILES; }; f"

    d = diff
    ds = diff --staged HEAD
    db = !git diff $(git base) && :
    dbs = !git diff $(git base) --stat && :
    dt = difftool

    base = !git merge-base ${1:-HEAD} main && :
    branch-name = branch --show-current
    head = rev-parse HEAD

    new = !git update && git co --merge -b jerry-$(echo $@ | sed 's/ /-/g') main && :
    dup = !git co -b jerry-$(echo $@ | sed 's/ /-/g') && :
    backup = !git co -b $(git branch-name)-backup && git co - && :

    get = !git fetch origin ${1}:${1} && git checkout ${1} -- && :

    save = !"f() { git aa && git commit --message \"${1:-$(shuf -n 1 ~/.word_list.txt)}\"; git push; }; f"
    fsave = !"f() { git aa && git commit --message \"${1:-$(shuf -n 1 ~/.word_list.txt)}\" --no-verify; git push; }; f"
    resave = !git aa && git recommit && git push -f && :

    cleanup = !"f() { git fetch && git for-each-ref --format '%(if:equals=[gone])%(upstream:track)%(then)%(refname:short)%(end)' refs/heads | rg -v \"^$\" | xargs git branch -D; }; f"
    bd = !"f() { set -e; BRANCHES=$(git pick branches-without-main); git branch -D $BRANCHES; }; f"
    cleanup-remote = !"f() { set -e; git fetch --prune; BRANCHES=$(git pick my-remote-branches); git push origin --delete $BRANCHES; }; f"

    ; show new commits in the branch
    l = log --oneline main.. 
    ; show status of all branches w.r.t. main
    lb = log --branches='jerry-*' main  --oneline --graph --first-parent --decorate-refs=refs/heads --simplify-by-decoration --dense --pretty=format:'%C(yellow)%D %C(auto)%s %C(dim)%ad' 

    mm = !git update && git merge main --no-edit && git push && :
    mt = mergetool

    ri = !"f() { set -e; BRANCH=$(git pick branch); git rebase --interactive $BRANCH; }; f"
    rim = !git update && git rebase --interactive main && :
    rib = !git rebase --interactive $(git base) && :
    rom = !git update && git rebase main && :
    romp = !git update && git rebase main && git push -f && :
    recon = !git aa && git rebase --continue && :

    bmerge = !"f() { set -e; BRANCH=$(git pick branch); git merge --squash $BRANCH && git commit -m \"[MERGED] $BRANCH\"; }; f"

    co = checkout
    com = checkout main
    cob = !"f() { set -e; BRANCH=$(git pick branch); git co $BRANCH; }; f"

    cor = !git fetch origin ${1?}:jerry-${1?} && git checkout jerry-${1?} && :

    update = !"f() { git branch-name | rg --quiet "main" && git pull origin main || git fetch origin main:main; }; f"

    unstage = reset -q HEAD
    recommit = commit --amend --no-edit
    uncommit = reset --soft HEAD^

    rev = !"f() { set -e; COMMIT=$(git pick branch-commit); git revert $COMMIT; }; f"
    fix = !"f() { set -e; COMMIT=$(git pick branch-commit); git commit --fixup $COMMIT; }; f"
    afix = !git aa && git fix

    stow = !"if [[ $(git log -1 --format=%B) == '[STOWED]' ]]; then git aa && git commit --amend --no-edit; else git aa && git commit -m '[STOWED]'; fi"
    unstow = !"if [[ $(git log -1 --format=%B) == '[STOWED]' ]]; then git reset @^; else echo \"Nothing to unstow\"; fi"

    ci = !gh pr checks
    pr = !git ac || true && git mm && hub pull-request --edit --browse --push && :
    prd = !git ac || true && git mm && hub pull-request --draft --edit --browse --push && :
    prm = !git ac || true && git mm && hub pull-request --edit --browse --push && gh pr merge --auto --squash && :
    open = !"gh pr view --web || open https://$(git remote get-url origin | sed 's/git@//; s/.git//; s/:/\\//')/pull/new/$(git branch-name)"


[branch]
    sort = -committerdate

[commit]
    gpgSign = false
    verbose = true

[color]
    ui = true

[help]
    autocorrect = "immediate"

[log]
    date = relative

[diff]
    algorithm = histogram
    indentheuristic = true
    tool = difftastic

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[merge]
    conflictstyle = zdiff3
    tool = nvimdiff
    autoStash = true

[mergetool]
    prompt = false

[mergetool "nvimdiff"]
    cmd = nvim $MERGED

[fetch]
    ; automatically delete tracking branches if they don't exist in github
    prune = true

[pull]
    ff = only
    rebase = true

[push]
    default = current

[rebase]
    autostash = true
    autosquash = true
    updateRefs = true

[stash]
    showPatch = true

[interactive]
    ; make interactive commands such as `git add --patch` use delta to colorize
    diffFilter = delta --color-only

[delta]
    plus-style = "syntax #34493e"
    minus-style = "syntax #4b3648"
    plus-emph-style = "syntax #206e41"
    minus-emph-style = "syntax #803648"

    file-style = bold yellow ul

    line-numbers-minus-style = bold red
    line-numbers-plus-style = bold green

    navigate = true

[protocol]
    version = 2

; Allow commands like `git clone gh:jearbear/dotfiles`
[url "git@github.com:"]
    insteadOf = gh:

; Allow commands like `git clone gh:dotfiles`
[url "git@github.com:jearbear/"]
    insteadOf = me:

[user]
    email = jerrytegno@gmail.com
    name = Jerry Tegno

[includeIf "gitdir:~/.dotfiles"]
    path = .gitconfig.dotfiles

[includeIf "gitdir:~/.dotfiles.secret"]
    path = .gitconfig.dotfiles.secret

[includeIf "gitdir:~/.dotfiles.pipe"]
    path = .gitconfig.dotfiles.pipe
