@import "mocha.css";

* {
  font-family: JetBrains Mono;
  font-size: 14px;
  padding: 1px 4px;
}

#waybar {
  background: @crust;
  color: @text;
}

#workspaces button {
  color: @lavender;
  padding: 6px;
  border-radius: 0;
}

#workspaces button.active {
  color: @yellow;
  border-bottom: 2px solid @yellow;
}
