// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction
hotkey-overlay {
    skip-at-startup
}
input {
    keyboard {
        repeat-delay 300
        repeat-rate 30
    }
    mod-key "Super"
    touchpad {
        tap
        natural-scroll
    }
    mouse {
        natural-scroll
    }
    trackpoint {
        natural-scroll
        accel-speed -0.6
        accel-profile "adaptive"
    }
}
output "eDP-1" {
    scale 1
}
output "Dell Inc. DELL S2725QC GMRKS84" {
    scale 1.25
    mode "3840x2160@120.000"
}
output "HDMI-A-1" {
    scale 2
}
layout {
    gaps 14
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        off
    }
    border {
        width 2
        active-color "#cba6f7"
        inactive-color "#313244"
        urgent-color "#f38ba8"
    }
    struts {
        left 20
        right 20
    }
    background-color "#181825"
}
prefer-no-csd
// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null
// Animation settings.
// The wiki explains how to configure individual animations:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
 // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 0.5

}
window-rule {
    match app-id="Spotify"
    open-maximized true
}
window-rule {
    geometry-corner-radius 2
    clip-to-geometry true
}
binds {
    Mod+Return {
        spawn "kitty" "--single-instance"
    }
    Mod+Space {
        spawn-sh "XDG_DATA_DIRS=~/.local/share/applications fuzzel"
    }
    Mod+Ctrl+Space {
        spawn "rofimoji" "--skin-tone" "neutral"
    }
    Mod+Shift+Space {
        spawn "passmenu" "--type"
    }
    Mod+Shift+Ctrl+Q {
        spawn "systemctl" "suspend-then-hibernate"
    }
    XF86AudioPlay allow-when-locked=true {
        spawn "playerctl" "play-pause"
    }
    XF86AudioNext allow-when-locked=true {
        spawn "playerctl" "next"
    }
    XF86AudioPrev allow-when-locked=true {
        spawn "playerctl" "previous"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "set" "10%-" "--min-value"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "set" "10%+"
    }
    Mod+Shift+O repeat=false {
        toggle-overview
    }
    Mod+Shift+Q {
        close-window
    }
    Mod+H {
        focus-column-left
    }
    Mod+J {
        focus-window-or-workspace-down
    }
    Mod+K {
        focus-window-or-workspace-up
    }
    Mod+L {
        focus-column-right
    }
    Mod+Shift+H {
        move-column-left
    }
    Mod+Shift+J {
        move-window-down-or-to-workspace-down
    }
    Mod+Shift+K {
        move-window-up-or-to-workspace-up
    }
    Mod+Shift+L {
        move-column-right
    }
    Mod+Ctrl+Shift+H {
        move-workspace-to-monitor-left
    }
    Mod+Ctrl+Shift+J {
        move-workspace-down
    }
    Mod+Ctrl+Shift+K {
        move-workspace-up
    }
    Mod+Ctrl+Shift+L {
        move-workspace-to-monitor-right
    }
    Mod+Shift+Comma {
        consume-or-expel-window-left
    }
    Mod+Shift+Period {
        consume-or-expel-window-right
    }
    Mod+Shift+BracketLeft {
        set-column-width "33.3333%"
    }
    Mod+Shift+BracketRight {
        set-column-width "66.6666%"
    }
    Mod+Backslash {
        set-column-width "50%"
    }
    Mod+Shift+Backslash {
        set-column-width "100%"
    }
    Print {
        screenshot
    }
    Ctrl+Print {
        screenshot-screen
    }
    Mod+Print {
        screenshot-window
    }
    Ctrl+Mod+Backspace {
        quit
    }
    Mod+Tab {
        focus-monitor-next
    }
    Mod+Grave {
        move-window-to-monitor-next
    }
}
cursor {
    xcursor-theme "Bibata-Original-Ice"
    xcursor-size 24
    hide-when-typing
}
overview {
    zoom 0.25
    backdrop-color "#11111b"
}
gestures {
    hot-corners {
        off
    }
}
environment {
    XCURSOR_THEME "Bibata-Original-Ice"
    XCURSOR_SIZE "24"
}
spawn-at-startup "mako"
spawn-at-startup "swayidle" "-w" "timeout" "601" "niri msg action power-off-monitors" "timeout" "600" "swaylock -f" "before-sleep" "swaylock -f"
spawn-at-startup "waybar"
spawn-at-startup "gammastep" "-l" "geoclue2" "-m" "wayland" "-r" "-t" "6500:1500" "-b" "1:0.75"
spawn-at-startup "keyd-application-mapper" "-d"

