snippet if
	if (${1}) {
	    ${0}
	}
snippet type
	type ${1} = {
	    ${0}
	};
snippet icb
    import * as Cinderblock from 'lib/cinderblock'
snippet iap
    import AnalyticsProvider from 'contexts/analytics'
snippet iq
    import * as Query from 'contexts/query'
